<div class="table-responsive-sm">
<table mdbTable mdbTableScroll  [scrollY]="true" [responsive]="true" maxHeight="400" [bordered]="true">
  <thead class="sticky-top">
    <tr style="background-color: whitesmoke;">
      <th *ngFor="let head of headElements;  let i = index" scope="col"> {{ head.replace('i','')}}
        
      </th>
    </tr>
  </thead>
  <tbody >
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td style="width:190px !important"><small style="font-size: 9pt;">{{el.date}}</small></td>
      <td *ngFor="let item of el.items">
          {{item}}
      </td>
      <td>{{el.total}}</td>
    </tr>
  </tbody>
</table>
</div>