<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Entrevista BI</h1>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
      <p class="text-wrap">
        Se realizo sistema para la visualización de la información proporcionada por un archivo Excel, la cual se almaceno en un .json para su procesamiento. </p>
      <p class="text-wrap">
        Se agrupo en semanas, comenzando cada una con los días Lunes a las 00:00:00 hrs. y terminando los días Domingos a las 59:59:59 hrs. Y se mantuvieron los nombres de las empresas como sus ID 
      </p>

    </div>
    <div class="row  justify-content-md-center"style="margin-top: 25px;">
      <div class="col-5">
        <p class="text-wrap">
          Igualmente si se requiere analizar las ventas de otro Excel, que mantenga el formato se puede actualizar el análisis cargandolo en el formulario:
        </p>
      </div>
      <div class="col-5">
        <small for="formFileSm" class="form-label">Ingrese otro Excel a Procesar</small>
          <input type="file"  class="form-control form-control-sm"  (change)="onFileChange($event)" />
      </div>
    </div>
  </section>
  <div class="card">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h2>
          Total de ventas por semana
        </h2>
        <p>
          A continuación se encuentra la información agrupada por semana desplagada en un gráfico lineal y una tabla resumen. 
        </p>

      </div>
    </div>
    <div class="card-body">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h4> Resumen en Grafico</h4>
        <p>
          El siguiente gráfico muestra mas ventas de cada empresa.
        </p>
        <p>
          Siendo el eje 'X' el numero de la semana siendo 0 la primera semana y el numero mayor la ultima semana. Y el eje 'Y' las ventas realizadas.
        </p>
        <p>
         Es posible ir mostrando y ocultando gráficos de las empresas particulares, presionando sobre el bloque de color de la empresa que desea mostrar o ocultar 
        </p>
      </div>
      <div style="display: flex;  align-items: center;  justify-content: center;">
        <p></p>
        <app-linealchart [enterprises]="enterprises" [tableValues]="tableValues"></app-linealchart>
      </div>
      <div class="col-lg-8 col-md-8 mx-auto">
        <h4>
          Tabla Resumen
        </h4>
        <p>
          Tabla indicando la semana, el rango de fechas que aborda y el detalle de las ventas por cada
          empresa y el total vendido durante la semana.
        </p>
      </div>
      <div style=" width: 100%;   text-align: center;">
        <div style="  display: inline-block;    margin: 0 auto;    padding: 3px; width: 90%;">
        <app-table [data]="data_source" [enterprises]="enterprises_source">
        </app-table>
      </div>
      </div>

    </div>

  </div>

</main>